<% if (user) { %>
<nav>
  <a href="/">Look For Trip</a>
  <a href="/users/<%= user.id %>">Profile</a>
  <a href="/users/<%= user.id %>/new">Make a New Trip</a>
  <a href="/users/<%= user.id %>/drivertrips">View Driver Trips</a>
  <a href="/users/<%= user.id %>/passengertrips">View Passenger Trips</a>
  <a href="/users/<%= user.id %>/requests/sent">Sent Requests</a>
  <a href="/users/<%= user.id %>/requests/received">Received Requests</a>
  <a href="/logout">Logout</a>
</nav>
<% } else { %>
<nav>
  <a href="/auth/google">Login</a>
</nav>
<% } %>
