<nav class="navbar navbar-dark">
  <button class="openbtn btn btn-outline-success">&#9776;</button>
  <a href="#" id="logo">HytchHike</a>
  <a class="searchbtn btn btn-outline-success" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg></a>
</nav>
<div id="main">
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <div class="link-container">
      <% if (user) { %>
      <a href="/users/<%= user.id %>">Profile</a>
      <a href="/">Look For Trip</a>
      <a href="/users/<%= user.id %>/passengertrips">View Passenger Trips</a>
      <a href="/users/<%= user.id %>/requests/sent">Sent Requests</a>
      <a href="/users/<%= user.id %>/new">Make a New Trip</a>
      <a href="/users/<%= user.id %>/drivertrips">View Driver Trips</a>
      <a href="/users/<%= user.id %>/requests/received">Received Requests</a>
      <a href="/logout">Logout</a>
      <% } else { %>
      <a href="/auth/google">Login</a>
      <% } %>
    </div>
  </div>
