<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HytchHike</title>
</head>
<body>
  <%- include('../../partial/navbar') %>
  <h2>All <%= title %> trips</h2>
  <% let todayDate = new Date().getTime(); %> 
  <p>Trips cannot be modified/deleted before 72 hours from the set departure time.</p>
  <p>Passengers cannot cancel rides before 72 hours from the set departure time.</p>
  <% if (trips.length > 0) { %> <% trips.forEach((trip) => { %>
  <div class="trip">
    <h2>Trip</h2>
    <p><%= trip.start %> ---> <%= trip.end %></p>
    <p>Date & Time: <%= trip.date %> <%= trip.time %></p>
    <p>Driver Profile: <%= trip.driver.name %></p>
    <p>Driver Email: <%= trip.driver.email %></p>
    <p>Available Seats: <%= trip.seats %></p>
    <p>Cost: $<%= trip.price %>/passenger</p>
    <% let tripDate = new Date((Math.round(new Date(`${trip.date} ${trip.time}`).getTime()/1000)-(24*3600*3))*1000).getTime(); %> 
    <% if (todayDate < tripDate && title === 'passenger') { %> 
      <form action="/users/<%= user.id %>/passengertrips?_method=DELETE" method="POST">
        <input type="hidden" name="tripId" value="<%= trip.id %>" />
        <button>Cancel Trip</button>
      </form>
    <% } else if (todayDate < tripDate && title === 'driver') { %> 
      <form action="/users/<%= user.id %>/drivertrips?_method=DELETE" method="POST">
        <input type="hidden" name="tripId" value="<%= trip.id %>" />
        <button>Cancel Trip</button>
      </form>
    <% } %> 
  </div>
  <% }); %> <% } else { %>
  <p>You have no upcoming <%= title %> trips</p>
  <% } %> 
  <%- include('../../partial/footer') %>
</body>
</html>


