<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hitch</title>
  </head>
  <body>
    <p>Trip:</p>
    <p><%= trip.startCity %> ---> <%= trip.endCity %></p>
    <p>Date & Time:</p>
    <p><%= trip.date %> <%= trip.time %></p>
    <p>Driver Profile:</p>
    <p>Available Seats:</p>
    <p><%= trip.seats %></p>
    <p>Cost:</p>
    <p>$<%= trip.price %></p>
    <p>Pick Up Location:</p>
  </body>
</html>
